[
  {pc, [
    {title, "Oxelgatan 7"},
    {device, [
      %% {id, type, name, alarm list}
      {sprinkler2, toggle, "Dammen - Höger Sprinkler", [{on, {21,0,0}}, {off, {21,15,0}}]},
      {sprinkler1, toggle, "Dammen - Vänster Sprinkler", [{on, {21,15,0}}, {off, {21,30,0}}]},
%%      {sprinkler1, toggle, "Dammen - Vänster Sprinkler", [{on, {13,28,0}}, {off, {13,30,0}}]},
      {water, toggle, "Vatten Dammen", []},
      {auto_level, toggle, "Automatisk Vatten Nivå", []},
      {feed, button, "Mata Fiskarna", [{"60", {8,0,0}}, {"60", {12,0,0}}, {"60", {16,0,0}}, {"60", {20,0,0}}]}
     ]},
    {mysql_user, "homeautomation"},
    {mysql_password, "Marigt123"},
    {mysql_server, "remote-mysql3.servage.net"},
    {mysql_port, 3306},
    {mysql_upload_sensor_list, [ph, temp, level, flow]},	
    {mysql_database, "homeautomation"},   
    {mysql_table, "oxelgatan7_pc"}
  ]}

].