[
  {pc, [
    {title, "Oxelgatan 7"},
    {device, [
      %% {id, name, alarm list}
      {sprinkler2, "Dammen - Vänster Sprinkler", []},
      {sprinkler1, "Dammen - Höger Sprinkler", [{on, {13,28,0}}, {off, {13,30,0}}]},
      {water, "Vatten Dammen", []},
      {auto_level, "Automatisk Vatten Nivå", []}
     ]},
    {temperature, [
      {in, {131, "Inne"}},
      {out, {133, "Ute"}}
    ]},
    {humidity, [
      {in, {141, "Inne"}},
      {out, {143, "Ute"}}
    ]},
    {rain, [
      {out, {152, "Regn"}}
    ]},
    {mysql_user, "homeautomation"},
    {mysql_password, "Marigt123"},
    {mysql_server, "remote-mysql3.servage.net"},
    {mysql_port, 3306},
    {mysql_upload_sensor_list, [131, 133, 141, 143, 152]},	
    {mysql_database, "homeautomation"},   
    {mysql_table, "oxelgatan7_weather"}
  ]}

].